@import '@/app';

.swift-widget {

  &_lower-section {
    width: 100%;

    &.messengerPage {
      .links_icon[id="messenger"] {
        fill: #0080FF;
      }
    }
    &.telegramPage {
      .links_icon[id="telegram"] {
        fill:#0088CC;
      }
    }
    &.vkPage {
      .links_icon[id="vk"] {
        fill: #4C75A3;
      }
    }
    &.viberPage {
      .links_icon[id="viber"] {
        fill: #7E37B1;
      }
    }
  }

  &_links {
    display: flex;
    justify-content: space-between;
    margin: 0 9% 2.8vh;
    padding: 1vh 0;
    border-top: 1px solid #EBF5FD;
    border-bottom: 1px solid #EBF5FD;
    color: #E7F1F8;

    .links_icon {
      width: 3vh;
      height: 3vh;
      fill: #E7F1F8;
      cursor: pointer;
    }
  }
  .swift-widget_created-by {
    font-size: 1.6vh;
    font-weight: 600;
    color: #C5DAF7;
  }
}