@import '@/app';

.swift-widget {

  &_lower-section {
    width: 100%;

    &.callPage {
      .links_icon[id="call"] {
        fill: $mainDarkBlue;
      }

      padding-bottom: 0.5vh;
      @include media('m-only') {
        padding-bottom: 0;
      }
    }

    &.chatPage {
      .links_icon[id="chat"] {
        fill: #D9B962;
      }
    }

    &.messengerPage {
      .links_icon[id="messenger"] {
        fill: #0080FF;
      }
    }

    &.telegramPage {
      .links_icon[id="telegram"] {
        fill: #0088CC;
      }
    }

    &.vkPage {
      .links_icon[id="vk"] {
        fill: #4C75A3;
      }
    }

    &.viberPage {
      .links_icon[id="viber"] {
        fill: #7E37B1;
      }
    }

    &.whatsappPage {
      .links_icon[id="whatsapp"] {
        fill: #00D935;;
      }
    }

    &.mailPage {
      .links_icon[id="mail"] {
        fill: #C12C19;
      }
    }
  }

  &_links-desktop {
    display: flex;
    justify-content: space-between;
    margin: 0 9% 3.4vh;
    padding: 1.4vh 0;
    border-top: 1px solid #EBF5FD;
    border-bottom: 1px solid #EBF5FD;
    color: #E7F1F8;

    @include media('m-only') {
      display: none;
    }

    .links_icon {
      width: 3vh;
      height: 3vh;
      fill: #E7F1F8;
      cursor: pointer;
    }
  }
  &_links-mobile {
    display: flex;
    justify-content: space-between;
    margin: 0 12% 2.8vh;
    padding: 1.9vh 0;
    border-top: 1px solid #EBF5FD;
    border-bottom: 1px solid #EBF5FD;
    color: #E7F1F8;

    @include media('t') {
      display: none;
    }

    .links_icon {
      width: 5.6vh;
      height: 5.6vh;
      fill: #E7F1F8;
      cursor: pointer;
    }
  }

  .swift-widget_created-by {
    font-size: 1.3vh;
    font-weight: 600;
    color: #C5DAF7;

    @include media('m-only') {
      font-size: 10px;
    }
  }
}