@import '@/app';


.swift-widget {

  &_text {
    margin: 2.2vh 5% 0;

  }

  &_staticTimer {
    margin-top: 1.3vh;
    font-size: 5.2vh;
    line-height: 5.2vh;
    font-weight: 100;
    color: $mainDarkBlue;

    @include media('m-only') {
      display: none;
    }
  }

  &_workingTimer {
    margin: 25vh 13% 25.3vh;
    text-align: start;
    font-size: 9vh;
    font-weight: 100;
    color: $mainDarkBlue;
  }



  &_callMode-agree {
    width: 69%;
    margin: 1.3vh auto 0;
    font-size: 1.1vh;
    font-weight: 300;
    color: #B5C0D1;
  }

  &_callMode-link {
    text-decoration: none;
    color: #4C638F;
  }

  &_callback {
    display: flex;
    justify-content: center;
    margin: 2.1vh auto;
    font-size: 1.5vh;
    font-weight: 600;
    color: #0E357C;
    cursor: pointer;
  }

  &_clock {
    height: 1.8vh;
    margin-right: 0.5%;
  }
}
