%blockPosition {
    position: fixed;
    bottom: 6px;
    right: 8px;
    z-index: 1000;
}

%blueGradient {
    background-image: linear-gradient(to right bottom, $blueGradientFrom, $blueGradientTo);
}

%swift-widget-input {
    width: 68%;
    background: $white;
    border: 1px solid #E3ECF5;
    border-radius: 8px;
}