@import '~include-media/dist/_include-media';
@import 'variables';
@import 'prototypes';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Axiforma', sans-serif;
    min-width: 320px;
    max-width: 1920px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0 15px;
    color: $white;
    cursor: pointer;

    & > * {
        &::selection {
            background: transparent;
        }
    }

    &.mod-blue {
        @extend %blueGradient;
    }
}







