@import '@/app';

.swift-widget {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10vh;


  &_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 947px;
    height: 80vh;
    width: calc(0.636 * 80vh);
    background: $widgetBackground;
    box-shadow: 0 3px 12px rgba(0, 33, 95, 0.12);
    padding: 1.5vh 0 2.7vh;
    text-align: center;
    z-index: 15;
  }


  &_exit {
    font-size: 1.7vh;
    font-weight: 400;
    color: #c5daf7;
    text-align: right;

    padding-right: 3.5vh;
    cursor: pointer;

    & > * {
      display: inline-block;
    }

    .swift-widget_cross {
      width: 1.5vh;
      height: 1.5vh;
      margin-left: 1.2vh;
    }
  }


  &_img {
    width: 52%;
  }

  &_text {
    margin: 2.2vh 15% 3.2vh;
    line-height: 3.6vh;
    font-size: 2.55vh;
    font-weight: 500;
    color: $mainDarkBlue;
  }

  &_button {
    width: 68%;
    height: 4.75vh;
    margin: 0 auto;
    padding-top: 0.6vh;
    font-size: 1.9vh;
  }
}

.links_icon[id="vk"] {
  fill: #4C75A3;
}
