@import '@/app';

.swift-widget {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  @include media('t') {
    padding: 10vh;
  }

  &_block {
    @extend %blockPosition;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: $widgetBackground;
    box-shadow: 0 3px 12px rgba(0, 33, 95, 0.12);
    padding: 32px 0 22px;
    text-align: center;
    z-index: 15;

    @include media('t') {
      //max-height: 947px;
      height: 80vh;
      width: calc(0.636 * 80vh);
      padding: 3vh 0 2.7vh;
    }

  }

  &_upper-section {
    width: 100%;
  }

  &_img {
    width: 52%;
    @include media('m-only') {
      margin-top: -22px;
      width: 180px;
      height: 154px;
    }

  }

  &_text {
    line-height: 1.2;
    font-size: 2.55vh;
    font-weight: 500;
    color: $mainDarkBlue;
    @include media('m-only') {
      font-size: 15px;
      margin-left: 7.5%;
      margin-right: 7.5%;
    }
  }

  &_button {
    width: 68%;
    height: 4vh;
    margin: 0 auto;
    padding-top: 0.6vh;
    font-size: 1.7vh;
    font-weight: 300;

    @include media('m-only') {
      width: 80%;
      height: 45px;
      padding-top: 0.4vh;
      font-size: 14px;
      font-weight: 600;
    }
  }

}