@import '@/app';

.swift-widget-button {
    position: fixed;
    bottom:   50px;
    right:    50px;


    cursor:   pointer;
    z-index:  10;

    .swift-widget-circle {
        position:                  absolute;
        bottom:                    0;
        right:                     0;

        width:                     75px;
        height:                    75px;
        border-radius:             100%;

        opacity:                   0;
        animation-duration:        1.2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;

    }

    // main circle with phone
    #swift-widget-button_circle-1 {
        position:   absolute;
        bottom:     0;
        right:      0;

        width:      75px;
        height:     75px;
        //position: fixed;
        //bottom:   50px;
        //right:    50px;
        z-index:    5;

        //position:   absolute;
        //left:       50%;
        //top:        50%;

        visibility: hidden;
        opacity:    0;

        img {
            width:  75px;
            height: 75px;
        }

        &.mod_visible {
            visibility: visible;
            opacity:    1;
        }
    }

    #swift-widget-button_circle-2 {
        background-color: #32569a;
        z-index:          4;

        animation-name:   animation_circle-2;
    }

    #swift-widget-button_circle-3 {
        background-color: #6380b7;
        z-index:          3;

        animation-name:   animation_circle-3;
    }

    #swift-widget-button_circle-4 {
        background-color: #9fb3d8;
        z-index:          2;

        animation-name:   animation_circle-4;
    }

    #swift-widget-button_circle-5 {
        background-color: #d1dff8;
        z-index:          1;

        animation-name:   animation_circle-5;
    }
}

@keyframes animation_circle-2 {
    0% {
        opacity:   0;
        transform: scale(1);
    }
    15% {
        opacity:   1;
        transform: scale(1.2);
    }
    80% {
        transform: scale(1.2);
        opacity:   1;
    }
    100% {
        opacity:   0;
        transform: scale(1);
    }
}

@keyframes animation_circle-3 {
    0% {
        transform: scale(1);
        opacity:   0;
    }
    30% {
        transform: scale(1.4);
        opacity:   1;
    }
    80% {
        transform: scale(1.4);
        opacity:   1;
    }
    100% {
        opacity:   0;
        transform: scale(1);
    }
}

@keyframes animation_circle-4 {
    0% {
        transform: scale(1);
        opacity:   0;
    }
    45% {
        transform: scale(1.6);
        opacity:   1;
    }
    80% {
        transform: scale(1.6);
        opacity:   1;
    }
    100% {
        opacity:   0;
        transform: scale(1);
    }
}

@keyframes animation_circle-5 {
    0% {
        transform: scale(1);
        opacity:   0;
    }
    65% {
        transform: scale(1.8);
        opacity:   1;
    }
    80% {
        transform: scale(1.8);
        opacity:   1;
    }
    100% {
        opacity:   0;
        transform: scale(1);
    }
}
