@import '@/app';

.swift-widget-button_wrapper {
    position: fixed;
    bottom:   50px;
    right:    50px;

    z-index:  999;
}

.swift-widget-button {

    cursor:   pointer;

    .swift-widget-circle {
        position:                  absolute;
        bottom:                    0;
        right:                     0;

        width:                     77px;
        height:                    77px;
        border-radius:             100%;

        opacity:                   1;
        animation-duration:        2.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }

    // main circle with phone
    #swift-widget-button_circle-1 {
        position:   absolute;
        bottom:     0;
        right:      0;

        width:      77px;
        height:     77px;
        z-index:    5;

        visibility: hidden;
        opacity:    0;

        img {
            width:  77px;
            height: 77px;
        }

        &.mod_visible {
            visibility: visible;
            opacity:    1;
        }
    }

    // around circles
    #swift-widget-button_circle-2 {
        background-color: #32569a;
        transform: scale(1.25);
        z-index:          4;

        animation-name:   animation_circle-2;
    }

    #swift-widget-button_circle-3 {
        background-color: #6380b7;
        transform: scale(1.5);
        z-index:          3;

        animation-name:   animation_circle-3;
        animation-delay: 0.15s;
    }

    #swift-widget-button_circle-4 {
        background-color: #9fb3d8;
        transform: scale(1.75);
        z-index:          2;

        animation-name:   animation_circle-4;
        animation-delay: 0.30s;
    }

    #swift-widget-button_circle-5 {
        background-color: #d1dff8;
        transform: scale(2);
        z-index:          1;

        animation-name:   animation_circle-5;
        animation-delay: 0.45s;
    }
}

@keyframes animation_circle-2 {
    0% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1.5);
    }
}
@keyframes animation_circle-3 {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.8);
    }
}
@keyframes animation_circle-4 {
    0% {
        transform: scale(1.75);
    }
    50% {
        transform: scale(2.1);
    }
}
@keyframes animation_circle-5 {
    0% {
        transform: scale(2);
    }
    50% {
        transform: scale(2.4);
    }
}
