@import '@/app';

.swift-widget-button_wrapper {
    position: fixed;
    bottom:   50px;
    right:    50px;

    z-index:  990;
}

.swift-widget-button {

    cursor:   pointer;

    &_bigToggler {
        top: -50px;
        left: -17px;
        width: 20px;
        height: 20px;
    }

    &_smallToggler {
        top: -42px;
        left: -15px;
        width: 17px;
        height: 17px;
    }

    &_togglerIcon {
        width: 100%;
        height: 100%;
    }

    &_mobileToggler {
        position: absolute;
        z-index: 999;
        @include media('t') {
            display: none;
        }
    }

    .swift-widget-circle {
        position:                  absolute;
        bottom:                    0;
        right:                     0;

        width:                     77px;
        height:                    77px;
        border-radius:             100%;

        opacity:                   1;
        animation-duration:        2.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;

        @include media('m-only') {
            width:                     45px;
            height:                    45px;
        }

        &.mod_minimalSize {
            width: 38px;
            height: 38px;
        }


    }

    // main circle with phone
    #swift-widget-button_circle-1 {
        position:   absolute;
        bottom:     0;
        right:      0;

        width:      77px;
        height:     77px;
        z-index:    995;

        visibility: hidden;
        opacity:    0;

        @include media('m-only') {
            width:                     45px;
            height:                    45px;
        }

        img {
            width:  100%;
            height: 100%;
        }

        &.mod_visible {
            visibility: visible;
            opacity:    1;
        }

        &.mod_minimalSize {
            width: 38px;
            height: 38px;
        }


    }

    // around circles
    #swift-widget-button_circle-2 {
        background-color: #32569a;
        transform: scale(1.25);
        z-index:          994;

        animation-name:   animation_circle-2;
    }

    #swift-widget-button_circle-3 {
        background-color: #6380b7;
        transform: scale(1.5);
        z-index:          993;

        animation-name:   animation_circle-3;
        animation-delay: 0.15s;
    }

    #swift-widget-button_circle-4 {
        background-color: #9fb3d8;
        transform: scale(1.75);
        z-index:          992;

        animation-name:   animation_circle-4;
        animation-delay: 0.30s;
    }

    #swift-widget-button_circle-5 {
        background-color: #d1dff8;
        transform: scale(2);
        z-index:          991;

        animation-name:   animation_circle-5;
        animation-delay: 0.45s;
    }
}

@keyframes animation_circle-2 {
    0% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1.5);
    }
}
@keyframes animation_circle-3 {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.8);
    }
}
@keyframes animation_circle-4 {
    0% {
        transform: scale(1.75);
    }
    50% {
        transform: scale(2.1);
    }
}
@keyframes animation_circle-5 {
    0% {
        transform: scale(2);
    }
    50% {
        transform: scale(2.4);
    }
}
