@import '@/app';

.swift-widget {

  &_block {
      @include media('m-only') {
      padding-top: 0;
    }
  }

  &_upper-section {
    display: flex;
    flex-direction: column;
    height: 91.27%
  }

  &_chat-header {
    @extend %blueGradient;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10.8%;
    padding: 0 4%;
    border-radius: 8px 8px 0 0;

    @include media ('m-only') {
      height: 69px;
    }
  }

  &_chat-header_info {
    display: flex;
    justify-content: flex-start;

    &-img {
      display: flex;
      margin-right: 1.7vh;

      img {
        width: 5.7vh;
      }
    }
  }

  &_chat-header_info-person {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $white;

    .person_company {
      font-size: 2.1vh;
      font-weight: 600;
      line-height: 1;
    }

    .person_position {
      font-size: 1.7vh;
      font-weight: 300;
      line-height: 1;
    }
  }

  &_close {
    display: flex;
  }

  &_cross {
    width: 1.5vh;
    height: 1.5vh;
    margin-left: 1.2vh;
  }

  &_chat-dialog {
    width: 82%;
    height: 80.7%;
    margin: 0 auto;
    padding: 5vh 0;
    overflow: hidden;
  }

  &_chat-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3vh;

    &.mod_manager-message {
      justify-content: flex-start;
    }

    &.mod_client-message {
      justify-content: flex-end;
    }
  }

  &_chat-avatar {
    width: 6.8vh;
  }

  &_message-block {
    border: 1px solid #E7F4FB;
    border-radius: 1.6vh;
    font-size: 1.6vh;



    &.mod_manager {
      background: $white;
      margin-left: 1.5vh;
      padding: 1vh 3.2vh 1vh 2.1vh;
      text-align: left;

      @include media('m-only') {
        padding: 4px 26px 4px 10px;
        font-size: 14px;
      }
    }

    &.mod_client {
      background: #EFF8FD;
      margin-right: 1.5vh;
      padding: 1vh 2.1vh 1vh 3.2vh;
      text-align: right;

      @include media('m-only') {
        padding: 4px 10px 4px 26px;
        font-size: 14px;
      }
    }

    .message-block_text {
      line-height: 2;
      font-weight: 400;
      color: #23324E;
    }

    .message-block_time {
      line-height: 2;
      font-weight: 300;
      font-style: italic;
      color: #88A5DB;
    }
  }

  &_chat-newMessage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 82%;
    height: 8.5%;
    margin: 0 auto;
    padding: 0.8vh 2vh;
    overflow: hidden;
    background: $white;
    border: 1px solid #E3ECF5;
    border-radius: 8px;
    text-align: left;

    @include media('m-only') {
      margin-bottom: 11px;
    }


    .chat-newMessage_text {
      @include swift_placeholder(400, #B8D1DE);
      width: 90%;
      border: none;
      outline: none;
      resize: none;
      font-size: 1.6vh;
      font-family: Axiforma, sans-serif;
      overflow: hidden;
    }

    .chat-newMessage_send {
      margin-top: 0.5vh;
      width: 5.3%;
      cursor: pointer;
    }
  }


}



