@import '@/app';

.swift-widget {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10vh;


  &_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 947px;
    height: 80vh;
    width: calc(0.636 * 80vh);
    background: $widgetBackground;
    box-shadow: 0 3px 12px rgba(0, 33, 95, 0.12);
    padding: 1.5vh 0 2.7vh;
    text-align: center;
    z-index: 15;
  }


  &_exit {
    font-size: 1.7vh;
    font-weight: 400;
    color: #c5daf7;
    text-align: right;

    padding-right: 3.5vh;
    cursor: pointer;

    & > * {
      display: inline-block;
    }

    .swift-widget_cross {
      width: 1.5vh;
      height: 1.5vh;
      margin-left: 1.2vh;
    }
  }


  &_img {
    width: 52%;
  }

  &_text {
    margin: 0.7vh 8% 2.4vh;
    line-height: 3.6vh;
    font-size: 2.55vh;
    font-weight: 500;
    color: $mainDarkBlue;
  }

  &_mail-message {
    @include switch_placeholder(300, #D4DAE4);
    @extend %swift-widget-input;
    height: 6.3vh;
    padding: 1.2vh 1.9vh;
    font-size: 1.6vh;
    line-height: 1.6vh;
    color: #1E2E4B;
    resize: none;
  }

  &_personal-data {
    display: flex;
    justify-content: space-between;
    width: 68%;
    margin: 0 auto;

    & input {
      @include switch_placeholder(300, #D4DAE4);
      width: 48%;
      height: 4.2vh;
      padding-left: 1.9vh;
      font-size: 1.6vh;
      line-height: 1.6vh;
      background: $white;
      border: 1px solid #E3ECF5;
      border-radius: 8px;
      color: #1E2E4B;
    }
  }

  &_flagPhoneInput {
    @extend %swift-widget-input;
    height: 4.2vh;
    margin: 1.9vh auto 1.3vh;
    color: #1E2E4B;
  }

  &_button {
    width: 68%;
    height: 4.2vh;
    margin: 0 auto;
    padding-top: 0.6vh;
    font-size: 1.9vh;
  }
}
