@import '@/app';

.swift-widget {


  &_text {
    margin: 0.7vh 8% 2.4vh;
  }

  &_mail-message {
    @include swift_placeholder(300, #D4DAE4);
    @extend %swift-widget-input;
    height: 6.3vh;
    padding: 1.2vh 1.9vh;
    font-size: 1.6vh;
    line-height: 1.6vh;
    color: #1E2E4B;
    resize: none;
  }

  &_personal-data {
    display: flex;
    justify-content: space-between;
    width: 68%;
    margin: 0 auto;

    & input {
      @include swift_placeholder(300, #D4DAE4);
      width: 48%;
      height: 4.2vh;
      padding-left: 1.9vh;
      font-size: 1.6vh;
      line-height: 1.6vh;
      background: $white;
      border: 1px solid #E3ECF5;
      border-radius: 8px;
      color: #1E2E4B;
    }
  }

  &_flagPhoneInput {
    @extend %swift-widget-input;
    height: 4.2vh;
    margin: 1.9vh auto 1.3vh;
    color: #1E2E4B;
  }

}
