@import '@/app';

.swift-widget {

  &_block {
    justify-content: flex-start;
  }

  &_exit {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    color: #c5daf7;
    text-align: right;
    padding-right: 3.5vh;
    @include media('m-only') {
      padding-right: 23px;
    }

    &-text {
      font-size: 1.7vh;
      font-weight: 400;
      cursor: pointer;

      @include media('m-only') {
        display: none;
      }
    }

    &-cross {
      width: 1.5vh;
      height: 1.5vh;
      margin-left: 1.2vh;
      cursor: pointer;

      @include media('m-only') {
        width: 22px;
        height: 22px;
      }
    }
  }

  &_exit {
    margin: 0 0 0 auto;
  }

  &_rating-text {
    margin: 15.1vh auto 10vh;
    line-height: 1vh;
    font-size: 2.28vh;
    font-weight: 700;
    color: $mainDarkBlue;

    @include media('m-only') {
      margin: 30vh auto 7vh;
      font-size: 19px;
      font-weight: 500;
    }

  }

  &_rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;

    input.star {
      display: none;
    }

    .svg-icon {
      width: 1.86vh;
      height: 3.72vh;

      @include media ('m-only') {
        width: 15px;
        height: 30px;
      }
    }

    label.star-left, label.star-right {
      fill: #E7F1F8;
      transition: all .25s;
    }

    label.star-right {
      margin-right: 1.4vh;
      @include media ('m-only') {
        margin-right: 12px;
      }
    }

    label.star-left {
      margin-left: 1.4vh;
      @include media ('m-only') {
        margin-left: 12px;
      }
    }

    input.star:checked ~ label.star-left {
      fill: #ffda44;
    }

    input.star:checked ~ label.star-right {
      fill: #ffcd00;
    }


  }


}



