@import '@/app';

.swift-widget_exit {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  color: #c5daf7;
  text-align: right;
  padding-right: 3.5vh;
  @include media('m-only') {
    padding-right: 23px;
  }

  &-text {
    font-size: 1.7vh;
    font-weight: 400;
    cursor: pointer;

    @include media('m-only') {
      display: none;
    }
  }

  &-cross {
    width: 1.5vh;
    height: 1.5vh;
    margin-left: 1.2vh;
    cursor: pointer;

    @include media('m-only') {
      width: 22px;
      height: 22px;
    }
  }
}