@import '@/app';

.swift-widget_exit {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: fit-content;
  margin-left: auto;

  padding-right: 0.5vh;
  color: #c5daf7;
  text-align: right;
  cursor: pointer;

  @include media('m-only') {
    padding-right: 23px;
  }

  &-text {
    font-size: 1.3vh;
    font-weight: 400;

    @include media('m-only') {
      display: none;
    }
  }

  &-cross {
    width: 1.2vh;
    height: 1.2vh;
    margin-left: 1.2vh;

    @include media('m-only') {
      width: 22px;
      height: 22px;
    }
  }
}